*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* * {
    outline: red solid 1px;
} */

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 90vw;
    margin: 0 auto;
    padding: 0.75rem;
    font-family: sans-serif;
    line-height: 1.5rem;
    background-color: #F7F7F8;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0.75rem;
    width: 80ch;
}

header p {
    font-weight: 600;
    margin-bottom: 0.75rem;
}

h1 {
    line-height: 2rem;
}

main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
}

section {
    outline: red solid 3px;
    padding: 1.5rem 0.75rem ;
    width: 50ch;
}

div {
    margin-bottom: 0.5rem;
}

h2 {
    margin: 0.5rem 0rem;
    margin-bottom: 1.75rem;
    font-size: 2rem;
}

.boxSection1 {
    padding: 0.5rem;
    width: fit-content;
    height: fit-content;
    border-radius: 15px;
    background-color: #0074B9;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    line-height: 5rem;
}

.boxSection1 p {
    font-size: 4.5rem;
    font-weight: 700;
    color: white;
}

.description {
    font-weight: 700;
    width: 40ch;
    margin-bottom: 1.5rem;
    line-height: 1.2rem;
}

button {
    padding: 0.5rem 1.25rem;
    width: 10rem;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
    cursor: pointer;
    font-weight: 800;
    background-color: white;
    box-shadow: 3px 3px 0px 1px rgba(0, 0, 0, 1);
}

.boxSection2 {
    padding: 0.8rem;
    width: fit-content;
    height: fit-content;
    border-radius: 15px;
    background-color: #32B34D;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    line-height: 4rem;
}

.boxSection2 p {
    font-size: 3.5rem;
    font-weight: 700;
    color: rgb(23, 23, 23);
}

.topic-description {
    margin-bottom: 1.25rem;
}

.rowSection {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.boxSection3 {
    padding: 0.8rem;
    width: fit-content;
    height: fit-content;
    border-radius: 15px;
    background-color: #FFD449;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    line-height: 3rem;
}

.boxSection3 p {
    font-size: 3rem;
    font-weight: 700;
    color: rgb(23, 23, 23);
}

.topic-description div p {
    font-weight: 700;
}

.description-rightbox {
    font-weight: 700;
}

.topic-description p {
    width: 42ch;
}

